@{
    ViewData["Title"] = "Админ-панель";
}

<h2>@ViewData["Title"]</h2>
<div class="jumbotron">
<h1 class="display-4">Добро пожаловать!</h1>
<p class="lead">Здесь можно управлять продуктами</p>
<hr class="my-4">
<p>Все, что доступно для вас</p>
<a class="btn btn-primary bg-success btn-lg ml-1" asp-area="Admin" asp-controller="Products" asp-action="Index">
     Управлять продуктами
</a>
<a class="btn btn-primary bg-success btn-lg" asp-area="Admin" asp-controller="Category" asp-action="Index">
    Управлять категориями
</a>
<a class="btn btn-primary bg-success btn-lg" asp-area="Admin" asp-controller="Vendor" asp-action="Index">
Управлять категориями
</a>
</div>
    
