@{
    ViewData["Title"] = "Успешно";
}

<div class="alert alert-success" role="alert">
    <h3 class="display-4 alert-heading">Спасибо за комментарий ! </h3>
    <p>Ваш коментарий очень важен для усовершенствования нашего продукта <a asp-controller="Product" asp-action="Details">назад</a></p>

</div>