@model Shop.ViewModels.CreateProductViewModel;

@{
    ViewData["Title"] = "Добавление продукта";
}

<form asp-area="Admin" asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data" >
    <div class="form-group">
        <label>Название продукта</label>
        <input type="text" name="title" class="form-control" required>
    </div>
    <div class="form-group">
        <lable>Описание продукта</lable>
        <textarea class="form-control"  name="description" placeholder="Описание продукта" rows="3"></textarea>
    </div>
    <div class="form-group">
        <lable>Категория</lable>
        <select class="form-control" name="categoryId">
            @foreach (var item in Model.Categories.Categories)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <lable>Поставщик</lable>
        <select class="form-control" name="v endorId">
            @foreach (var item in Model.Vendors.Vendors)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <lable>Цена</lable>
        <input type="number" name="price" class="form-control">
    </div>
    <div class="form-group">
        <lable>Фото</lable>
        <input type="file" name="file" class="form-control-file" placeholder="Добавить фото товара">
    </div>
    <button type="submit" class="btn bg-primary"> Добавить</button>
   </form> 