@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="css/Index.css">
<div class="card-deck mt-5">

<div class="card " style="width: 15rem;">
    <img src="~/images/ананасы.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Продукты</h5>
        <a href="#" class="btn bg-success mt-4">Заказать</a>
    </div>
</div>

<div class="card " style="width: 15rem;">
    <img src="~/images/Компания .png" class="card-img-top"  style="height: 21rem" style="width: 15rem;">
    <div class="card-body fg">
        <h5 class="card-title ">О компании</h5>
        <a href="#" class="btn bg-success mt-4">Узнать</a>
    </div>
</div>

</div>

