@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="css/Index.css">
<div class="card-deck mt-5">

<div class="card " style="width: 15rem;">
    <img src="~/images/Фрукты.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Продукты</h5>
        <a asp-controller="Product" asp-action="Index" class="btn bg-success mt-4">Заказать</a>
    </div>
</div>

<div class="card " style="width: 15rem;">
    <img src="~/images/Команда.png" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title ">О компании</h5>
        <a asp-controller="Home" asp-action="About" class="btn bg-success mt-4">Узнать</a>
    </div>
</div>

</div>

