@model Shop.Application.Products.Queries.GetProducts.ProductViewModel;
<p class="h1">Привет </p>
@foreach (var item in Model.Products)
{
    <p>Продукт @item.Name</p>
    <p>@item.Description</p>
    <p>@item.Categories.Name</p>
    <img src="/images/Products/@item.Image" alt="Бывает"/>
}


