
@{
    ViewData["Title"] = "Ошибка";

}
<div class="alert alert-danger">
    <h1 class="display-1 alert-heading">Упс!</h1>
    <p>Что- то пошло не так. Попробуйте еще раз или свяжитесь с нами</p>
    <hr/>
    <p>Приносим извенения</p>
</div>



