
@{
    ViewData["Title"] = "Успешно";
}

<div class="alert alert-success" role="alert">
    <h3 class="display-4 alert-heading" >Спасибо за покупку! </h3>
    <p>Ваш заказ успешно оформлен! Историю заказов можете посмотреть <a asp-controller="Order" asp-action="GetOrder">здесь</a></p>
    
</div>

